{% extends 'fitnesspal/base.html' %}
{% block content %}
    <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-color">
        <img class="image-thumbnail" src="../../static/fitnesspal/images/logo.png" alt="logo" width="72" height="72">
        <h5 class="my-0 mr-md-auto font-weight-normal text-white">YourFitnessPal</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-white" href="{% url 'fitnesspal:index' %}">Home</a>
            <a class="p-2 text-white" href="#">Daily</a>
            <a class="p-2 text-white" href="#">Workout</a>
            <a class="p-2 text-white" href="{% url 'fitnesspal:calories' %}">Calories</a>
        </nav>
        <a class="btn btn-outline-primary text-white border-white" href="#">Sign up</a>
    </div>
    <b>{% if messages %}
    {% endif %}</b>
    <div class="container">
        <br/>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form action="{% url 'fitnesspal:calculate_calories' %}" method='POST'>
                    {% csrf_token %}
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" name="food-input"
                                   placeholder="Search for food calories">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button href="{% url 'fitnesspal:calculate_calories' %}"
                                    class="btn btn-lg bg-color2 text-white"
                                    type="submit">Calculate
                            </button>

                        </div>
                        <!--end of col-->
                    </div>
                </form>
                <ul class="messages text-danger display-2">
                    {% for msg in messages %}
                        {{ msg }}
                    {% endfor %}
                </ul>
                {% if cal %}
                    <div class="container-fluid inner k">
                    <table class="tableizer-table">
                    <tr class="tableizer-firstrow">
                        <th>Picture</th>
                        <th>Food name</th>
                        <th>Calories</th>
                        <th>Total fat</th>
                        <th>Gram</th>
                    </tr>
                    <tr>
                        <td><img src="{{ pic }}"></td>
                        <td>{{ name }}</td>
                        <td>{{ cal }}</td>
                        <td>{{ fat }}</td>
                        <td>{{ size }} g</td>
                    </tr>
                {% else %}
                    {#                    <img src="#">#}
                {% endif %}
                </div>
                <!--end of col-->
            </div>
        </div>
    </body>
{% endblock %}
