{% extends 'fitnesspal/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'fitnesspal/developer_style.css' %}">
    <link rel="stylesheet" href="{% static 'fitnesspal/slide_area.css' %}">
    <link rel="stylesheet" href="{% static 'fitnesspal/service.css' %}">
    <link rel="stylesheet" href="{% static 'fitnesspal/welcome.css' %}">
    <link rel="stylesheet" href="{% static 'fitnesspal/table_BMI.css' %}">
    <link rel="stylesheet" href="{% static 'fitnesspal/monial.css' %}">
</head>
<body>
    <!-- Service_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3> <span>YourFitnessPal</span> <br>
                                    Let Us Help You </h3>
                                <p>Take control of your goals. Track calories, break down ingredients, <br> and log activities with YourFitnessPal.</p>
                                <a href="{% url 'fitnesspal:profile' %}" class="boxed-btn3">Try It Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider_area_End -->

    <!-- Service_area_start -->
    <div class="service_area">
        <div class="container p-0">
            <div class="row no-gutters">
                <div class="col-xl-4 col-md-4">
                    <div class="single_service">
                        <span class="flaticon-034-stationary-bike"></span>
                        <h3>Work Out</h3>
                        <p>Let us help you calculate how much you workout.</p>
                        <a href="{% url 'fitnesspal:exercise' %}" class="boxed-btn3-white">Workout page</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_service">
                        <span class="flaticon-033-juice"></span>
                        <h3>Calculate</h3>
                        <p>Let us help you calculate how much calories you have consumed.</p>
                        <a href="{% url 'fitnesspal:calories' %}" class="boxed-btn3-white">Calories Page</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_service">
                        <span class="flaticon-014-heart-beat"></span>
                        <h3>Your Profile</h3>
                        <p>Your home profile that contain what you eat and what you workout.</p>
                        <a href="{% url 'fitnesspal:profile' %}" class="boxed-btn3-white">Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service_area_End -->

    <!-- welcome_yourfitnesspal_area_start -->
    <div class="welcome_yourfitnesspal_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome_thumb">
                        <div class="thumb_1">
                            <img src="{% static 'fitnesspal/images/lift_up.jpg' %}" alt="">
                        </div>
                        <div class="thumb_2">
                            <img src="{% static 'fitnesspal/images/turn_around.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome_docmed_info">
                        <h2>Welcome to YourFitnessPal</h2>
                        <h3>Best Care For Your <br>
                                Good Health</h3>
                                <p>Lose weight with YourFitnessPal, the website that
                                    you can trust. You can calculate your calories, track what you ate and your exercise.</p>
                        <ul>
                            <li> <i class="flaticon-right"></i> Calculate the food calories and show its nutritions. </li>
                            <li> <i class="flaticon-right"></i> Calculate workout calories with your weight.</li>
                            <li> <i class="flaticon-right"></i> Your profile will contain history of how much you have eaten and workout.</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- welcome_yourfitnesspal_area_end -->

    <!-- Developer_area_start -->

    <div class="testmonial_area">
        <div class="testmonial_active owl-carousel">
            <div class="single-testmonial testmonial_bg_1 overlay2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10 offset-xl-1">
                            <div class="testmonial_info text-center">
                                <p style="color:white">Making YourFitnessPal is very challenging for us to do. <br>
                                    Don't judge a book by it's cover. <br>
                                    Everyone are healthy in their own ways. </p>
                                <div style="color:white" class="testmonial_author">
                                    <h4 style="color:white">- The developer team</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Developer_area">
        <div class="container ">
            <div class="row no-gutters">
                <div class="col-xl-12 ">
                    <div class="doctors_title mb-55">
                        <h3>Developer Team</h3>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-xl-12">
                    <div class="expert_active owl-carousel">
                        <div class="single_expert">
                            <div class="expert_thumb ">
                                <img src="{% static 'fitnesspal/images/Pund.JPG' %}" alt="">
                            </div>
                            <div class="experts_name text-center">
                                <h3>Panitan Plengkham</h3>
                                <span>+66 86519 4261</span>
                            </div>
                        </div>
                        <div class="single_expert">
                            <div class="expert_thumb">
                                <img src="{% static 'fitnesspal/images/Jean.JPG' %}" alt="">
                            </div>
                            <div class="experts_name text-center">
                                <h3>Purich Trainorapong</h3>
                                <span>+66 97276 8886</span>
                            </div>
                        </div>
                        <div class="single_expert">
                            <div class="expert_thumb">
                                <img src="{% static 'fitnesspal/images/Auu.JPG' %}" alt="">
                            </div>
                            <div class="experts_name text-center">
                                <h3>Peerasu Watanasirang</h3>
                                <span>+66 86565 8765</span>
                            </div>
                        </div>
                        <div class="single_expert">
                            <div class="expert_thumb">
                                <img src="{% static 'fitnesspal/images/Kin.JPG' %}" alt="">
                            </div>
                            <div class="experts_name text-center">
                                <h3>Kittitouch Ingkasompob</h3>
                                <span>+66 95762 8185</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Developer_area_End -->

</body>
{% endblock %}

