{% extends 'fitnesspal/base.html' %}
{% load crispy_forms_filters %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<head>
    <link rel="stylesheet" href="{% static 'fitnesspal/table_BMI.css' %}">
</head>

<hr>

<div class="container bootstrap snippet">
    <div class="row">
        {% if user.is_authenticated %}
  		    <div class="col-sm-10"><h1>{{ user.username }}'s profile</h1></div>
        {% endif %}
    	    <div class="col-sm-2"><a class="pull-right"><img title="profile image" class="img-circle img-responsive" src="../../static/fitnesspal/images/logo.png"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->

        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="Basic Info" aria-selected="true">Basic Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="physical-tab" data-toggle="tab" href="#physical" role="tab" aria-controls="Physicality Info" aria-selected="false">Physicality Info</a>
                </li>
            </ul>


        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="tab-content">
            <div class="tab-pane active" id="basic" role="tabpanel">
                <hr>
                    <fieldset class="form-group">
                        {{ u_form|crispy }}
                    </fieldset>
                <hr>

             </div><!--/tab-pane-->
             <div class="tab-pane" id="physical" role="tabpanel">
               <hr>
                    <fieldset class="form-group">
                        {{ p_form|crispy }}
                    </fieldset>
                </div><!--/tab-pane-->
          </div><!--/tab-content-->



            <fieldset>
                <legend>BMI</legend>
                    <label for="bmi" id="bmi_label">Your calculated BMI is: {{ BMI|floatformat:2}}</label>
            </fieldset>


          <div class="form-group">
                <div class="col-xs-12">
                     <br>
                       <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"
                       name="update"></i> Save</button>
                </div>
         </div>
        </form>
        </div><!--/col-9-->
    </div><!--/row-->
    <section class="bmi-calculator-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" style = "width: 800px;margin: 0 auto;margin-bottom: 100px;">
                    <div class="section-title chart-title">
                        <h2>BMI CALCULATOR CHART</h2>
                    </div>
                    <div class="chart-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Bmi</th>
                                    <th>WEIGHT STATUS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="point">Below 18.5</td>
                                    <td>Underweight</td>
                                </tr>
                                <tr>
                                    <td class="point">18.5 - 24.9</td>
                                    <td>Healthy</td>
                                </tr>
                                <tr>
                                    <td class="point">25.0 - 29.9</td>
                                    <td>Overweight</td>
                                </tr>
                                <tr>
                                    <td class="point">30.0 - and Above</td>
                                    <td>Obese</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}