{% extends 'fitnesspal/base.html' %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'fitnesspal/profile_style.css' %}">
</head>
<div class="container-fluid">
    <h1 class="headline">Your Profile :</h1>
        <div class="row mt-4 mb-4">
            <div class="col-lg-5 card card-body">
            <div class="app-title">
                <h1 class="text-center profile-text mt-2">Name: {{ request.user.first_name}} </h1>
            </div>
        </div>


     </div>

    <h1 class="text-center headline">Added Food Items</h1>

     <div class="row mt-5">
      <table class="table table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Food Name</th>
                    <th scope="col">Calories</th>
                    <th scope="col">Carbohydrates</th>
                    <th scope="col">Fats</th>
                    <th scope="col">Proteins</th>
                    <th scope="col">Weight</th>
                </tr>
            </thead>
            <tbody>
                {% for food in total_food %}
                <tr>
                    <td>{{ food.food_name }}</td>
                    <td>{{ food.calories }} cal</td>
                    <td>{{ food.carbohydrates }}</td>
                    <td>{{ food.fats }}</td>
                    <td>{{ food.protein }}</td>
                    <td>{{ food.weight }} g</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>Total cal : {{total_cal}}</p>
    </div>
</div>
{% endblock content %}


